# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Booth
Comment=Convergent camera app
TryExec=booth
Exec=booth %U
Terminal=false
Type=Application
Categories=Qt;KDE;Multimedia;
GenericName=Camera App
StartupNotify=true
Icon=kamoso
#MimeType=inode/directory;
