# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Booth
Name[ca]=Booth
Name[ca@valencia]=Booth
Name[cs]=Booth
Name[de]=Booth
Name[en_GB]=Booth
Name[es]=Booth
Name[fi]=Booth
Name[fr]=Booth
Name[it]=Booth
Name[nl]=Booth
Name[nn]=Booth
Name[pl]=Budka
Name[pt]=Cabine
Name[pt_BR]=Booth
Name[sk]=Booth
Name[sl]=Stojnica
Name[sv]=Booth
Name[uk]=Booth
Name[x-test]=xxBoothxx
Comment=Convergent camera app
Comment[ca]=Aplicació convergent de càmera
Comment[ca@valencia]=Aplicació convergent de càmera
Comment[en_GB]=Convergent camera app
Comment[es]=Aplicación de cámara convergente
Comment[fi]=Yhtenäinen kamerasovellus
Comment[fr]=Application de caméra convergente
Comment[it]=App convergente per fotocamera
Comment[nl]=Convergente camera-toepassing
Comment[nn]=Konvergent kamera­app
Comment[pl]=Aplikacja kamery
Comment[pt]=Aplicação de câmara convergente
Comment[pt_BR]=Aplicativo de câmera convergente
Comment[sk]=Konvergentná fotografická aplikácia
Comment[sl]=Konvergentna aplikacija kamere
Comment[sv]=Konvergent kameraprogram
Comment[uk]=Універсальна програма для роботи з камерою
Comment[x-test]=xxConvergent camera appxx
TryExec=booth
Exec=booth %U
Terminal=false
Type=Application
Categories=Qt;KDE;Multimedia;
GenericName=Camera App
GenericName[ca]=Aplicació de càmera
GenericName[ca@valencia]=Aplicació de càmera
GenericName[de]=Camera-App
GenericName[en_GB]=Camera App
GenericName[es]=Aplicación de cámara
GenericName[fi]=Kamerasovellus
GenericName[fr]=Application de caméra
GenericName[it]=App per la fotocamera
GenericName[nl]=Camera-toepassing
GenericName[nn]=Kamera­app
GenericName[pl]=Aplikacja kamery
GenericName[pt]=Aplicação de Câmara
GenericName[pt_BR]=Aplicativo de câmera
GenericName[sk]=Aplikácia fotoaparátu
GenericName[sl]=Aplikacija kamere
GenericName[sv]=Kameraprogram
GenericName[uk]=Програма для роботи з камерою
GenericName[x-test]=xxCamera Appxx
StartupNotify=true
Icon=kamoso
#MimeType=inode/directory;
